# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# PyCharm
.idea/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Node.js (for future)
node_modules/

# Build folders
dist/
build/